<!DOCTYPE html>
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% category_list  %}
opo
<hr>

<h2> {{ post.title }}</h2>
<p>{{ post.text }}</p>
<p>Категория - {{ post.category }}</p>
<small>{{ post.published_date }}</small>
<br>
Теги - {% for tag in post.get_tags %}
    {% if tag.published %}
        <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>,
    {% endif %}

{% endfor %}
<small>Автор: {{ post.author }} - {{ post.published_date }}</small>
<h4>Комментари</h4>
{% if user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit"> Отправить</button>
    </form>
{% else %}
    <p>Чтобы оставить комментарии войдите на сайт</p>
{% endif %}

<hr>
{% for comment in post.comments.all %}
    пользователь - {{ comment.author }} <br>
    {{ comment.text }} <br>
    Добавлен - {{ comment.created_date }} <br>
    <hr>
    <br>
{% endfor %}


</body>
</html>