<!DOCTYPE html>
<html lang="en">
{% load blog_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Spoat</h1>
{% category_list %}
<hr>

<h2> {{ post.title }}</h2>
<p>{{ post.text }}</p>
<small>{{ post.published_date }}</small>
<br>
Теги - {% for tag in post.get_tags %}
     {% if tag.published %}
        <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>,
    {% endif %}
{% endfor %}
<small>Автор: {{ post.author }} - {{ post.published_date }}</small>
<hr>
<h4>Комментари</h4>
{% for comment in post.comments.all %}
    пользователь - {{ comment.author }} <br>
    {{ comment.text }} <br>
    Добавлен - {{ comment.created_date }} <br>
    <br>
{% endfor %}

</body>
</html>