<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Spoat</h1>
{% for category in categories %}
    <p><a href="{% url 'category' category.slug %}">{{ category.name }}</a></p>
{% endfor %}
<hr>

<h2> {{ post.title }}</h2>
<p>{{ post.text }}</p>
<small>{{ post.published_date }}</small>
<br>
Теги - {% for tag in post.get_tags %}
    {{ tag.name }},
{% endfor %}
<small>Автор: {{ post.author }} - {{ post.published_date }}</small>
<hr>
<h4>Комментари</h4>
{% for comment in post.comment_set.all %}
    пользователь - {{ comment.author }} <br>
    {{ comment.text }} <br>
    Добавлен - {{ comment.created_date }} <br>

{% endfor %}

</body>
</html>